body {
    background-color: #dff5ce;
    background-position: left top;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #476930;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 15px 15px;

}

nav .link {
    color: #c8b88a;
    padding: 15px 15px;
    font-size: 25px;
    text-decoration: none;
}

nav .jelenlegi {
    color: #f1dddf;
    padding: 15px 15px;
    font-size: 25px;
    text-decoration: none;
}

#icon {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0 10px 0 0;
}

h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 60px;
}

h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

img {
    height: 300px;
    padding: 10px 20px;
    border-radius: 35px;
    transition: 0.4s;
}

img:hover {
    transform: scale(1.05);
}

div p {
    font-size: 25px;
    text-align: center;
    margin: 40px 300px;
    line-height: 1.6;
}

.cegfelirat {
    color: #f1dddf;
    float: right;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 40px 0 0;
    font-size: 30px;
}

.link:hover {
    color: #f1dddf;
}

.link-div {
    padding-bottom: 100px;
}

.kepek {
    text-align: center;
}

.quiz {
    text-align: center;
    font-style: italic;
    font-size: 25px;
}

/* Blog */
a {
    text-decoration: none;
}

.blog-heading {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.blog-heading span {
    color: #FF4500;
}

.blog-heading h3 {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.blog-box {
    width: 350px;
    margin: 20px;
    background-color: #d6f3be;
    border: 1px solid #c8efa9;
}

.blog-box:hover {
    transform: scale(1.05);
}

.blog-img {
    width: 100%;
    height: 100%;
}

.blog-img img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
    transform: none;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: black;
    font-size: 1rem;
}

.blog-title {
    font-size: 1.3rem;
    width: 500px;
    color: #272727;
}

.blog-paragraph {
    color: #9b9b9b;
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 20px 8px;
    text-align: left;
}

.balra {
    text-align: right;
    overflow: hidden;
    margin-top: 5px;
}

.keret {
    margin: 10px;
    display: flex;
    flex-direction: column;
    float: left;
}

.kep {
    margin-top: 10px;
    object-fit: cover;
    object-position: center;
    height: 50%;
    width: 50%;
}

blockquote {
    text-align: justify;
    font-size: 1rem;
    margin-right: 100px;
    margin-left: 100px;
}

strong {
    padding-bottom: 10px;
    font-size: 20px;
}


.bekezdes {
    font-size: 20px;
    line-height: 1.1;
}

.erdekes {
    overflow: hidden;
    padding: 5px;
    margin: 10px;
    background-color: palegreen;
    border-left: 10px solid #5cd65c;
    text-align: justify;
    font-size: 20px;
}

.szoveg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.szoveg-box {
    width: 60%;
    margin: 20px;
    background-color: #d6f3be;
    border: 1px solid #c8efa9;
}

.szoveg-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.szoveg-heading {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: large;
}

.szoveg-heading h2 {
    font-size: 50px;
}

.szoveg p {
    color: black;
    font-size: large;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 20px 8px;
    text-align: justify;
}


/* Ajánló */
form {
    font-size: 25px;
}

fieldset {
    width: 40%;
    margin: 30px auto;
    border: 2px solid lightgray;
    border-radius: 15px;
    background-color: rgba(211, 211, 211, 0.5);
    box-shadow: 0 0 10px 10px rgba(200, 200, 200, 0.5);
}

legend {
    text-align: center;
    font-weight: bold;
    padding: 10px 10px;
}

label div {
    text-align: center;
    margin: 5px;
}

div label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input {
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 25px;
    margin: 10px 0;

}

input[type="date"] {
    height: 30px;
}

select {
    width: 80%;
    margin-top: 10px;
    font-size: large;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

input[type="reset"], input[type="submit"] {
    margin: 15px 30px;
    font-size: 20px;
    background-color: #476930;
    color: #f1dddf;
    padding: 10px;
    border-radius: 8px;
    border: none;
    height: 40px;
}

input[type="reset"]:hover, input[type="submit"]:hover {
    color: #c8b88a;
    box-shadow: 0 0 5px 5px rgba(128, 127, 127, 0.35);
    cursor: pointer;
}

textarea {
    height: 50px;
    width: 30%;
    font-size: 15px;
    resize: vertical;
    background-color: rgba(211, 211, 211, 0.5);
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 15px;
    min-height: 50px;
    box-shadow: 0 0 10px 10px rgba(200, 200, 200, 0.5);
}

input:focus {
    border: 2px solid black;
}

.bal {
    float: left;
    width: 60%;
    margin-top: 5px;
}

.jobb {
    float: right;
    width: 40%;
    margin-top: 5px;
}


.row:after {
    clear: both;
    content: "";
    display: table;
}

#under {
    text-align: center;
}


footer {
    margin-top: -50px;
    padding-top: 1px;
    padding-bottom: 5px;
    background-color: rgb(97, 97, 97);
    padding-left: 30px;
    box-shadow: 0 0 15px 15px rgba(150, 150, 150, 0.513);
    overflow: hidden;
    color: #dee2fc;
    font-size: 17px;
}

aside {
    width: 30%;
    padding-left: 10px;
    margin-left: 10px;
    float: right;
    font-style: italic;
    overflow: hidden;
}