body {
    background-color: #dff5ce;
    background-position: left top;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #476930;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 15px 15px;

}

nav .link {
    color: #c8b88a;
    padding: 15px 15px;
    font-size: 25px;
    text-decoration: none;
}

nav .jelenlegi {
    color: #f1dddf;
    padding: 15px 15px;
    font-size: 25px;
    text-decoration: none;
}

.link:hover {
    color: #f1dddf;
}

.cegfelirat {
    color: #f1dddf;
    float: right;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 40px 0 0;
    font-size: 30px;
}

.quiz {
    text-align: center;
    font-style: italic;
    font-size: 25px;
}

h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 60px;
}

form {
    font-size: 25px;
}

fieldset {
    width: 40%;
    margin: 30px auto;
    border: 2px solid lightgray;
    border-radius: 15px;
    background-color: rgba(211, 211, 211, 0.5);
    box-shadow: 0px 0px 10px 10px rgba(200, 200, 200, 0.5);
}

legend {
    text-align: center;
    font-weight: bold;
    padding: 10px 10px;
}

label div {
    text-align: center;
    margin: 5px;
}

div label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input {
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 25px;
    margin: 10px 0px;

}

input[type="date"] {
    height: 30px;
}

select {
    width: 80%;
    margin-top: 10px;
    font-size: large;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

input[type="reset"], input[type="submit"] {
    margin: 15px 30px;
    font-size: 20px;
    background-color: #476930;
    color: #f1dddf;
    padding: 10px;
    border-radius: 8px;
    border: none;
    height: 40px;
}

input[type="reset"]:hover, input[type="submit"]:hover {
    color: #c8b88a;
    box-shadow: 0px 0px 5px 5px rgba(128, 127, 127, 0.35);
    cursor: pointer;
}

textarea {
    height: 50px;
    width: 30%;
    font-size: 15px;
    resize: vertical;
    background-color: rgba(211, 211, 211, 0.5);
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 15px;
    min-height: 50px;
    box-shadow: 0px 0px 10px 10px rgba(200, 200, 200, 0.5);
}

input:focus {
    border: 2px solid black;
}

.bal {
    float: left;
    width: 60%;
    margin-top: 5px;
}

.jobb {
    float: right;
    width: 40%;
    margin-top: 5px;
}


.row:after {
    clear: both;
    content: "";
    display: table;
}

#under {
    text-align: center;
}

footer {
    margin-top: 30px;
    padding-top: 1px;
    padding-bottom: 15px;
    background-color: rgb(97, 97, 97);
    padding-left: 30px;
    box-shadow: 0px 0px 15px 15px rgba(150, 150, 150, 0.513);
}

footer p {
    margin-bottom: 0;
    color: #dee2fc;
    font-size: 17px;
}
